**PASOS SEGUIDOS PARA TRATAR EL DATASET MPII HUMAN POSE:**
1. He convertido el fichero .mat a un dataframe empleando un script encontra online (Referencia).
2. Me he quedado con las columnas 'NAME', 'Activity y 'Category' del dataframe.
3. He sustituido los elementos '[]' en 'Activity' y 'Category' por 'unknown'.
4. He guardado el resultado en 'mpii_dataset_clean.csv'.
5. Manualmente he sustituido los 'unknown' por la actividad/categoría correspondiente.
6. Manualmente lo he guardado como 'mpii_dataset_clean_v2.csv'.

In [2]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

**Referencia:** https://github.com/Arifkhan21/MPII-Dataset-in-CSV/blob/master/dataset_build.ipynb

In [41]:
import scipy.io

mat = scipy.io.loadmat('mpii_human_pose_v1_u12_1.mat', struct_as_record=False)

In [42]:
rel = mat['RELEASE']
print(rel,type(rel),rel.shape)

[[<scipy.io.matlab.mio5_params.mat_struct object at 0x0000012C23886580>]] <class 'numpy.ndarray'> (1, 1)

In [43]:
obj_rel = rel[0,0]
print(obj_rel._fieldnames)

['annolist', 'img_train', 'version', 'single_person', 'act', 'video_list']

In [34]:
annolist = obj_rel.__dict__['annolist']
img_tra = obj_rel.__dict__['img_train']
act = obj_rel.__dict__['act']
print(annolist.shape,img_tra.shape,act.shape)

(1, 24987) (1, 24987) (24987, 1)

In [44]:
n = annolist.shape[1]
n

24987

In [45]:
data_arr = ['NAME','r ankle_X','r ankle_Y', 'r knee_X','r knee_Y', 'r hip_X','r hip_Y', 'l hip_X','l hip_Y', 'l knee_X','l knee_Y', 'l ankle_X','l ankle_Y','pelvis_X','pelvis_Y','thorax_X','thorax_Y','upper neck_X','upper neck_Y', 'head top_X','head top_Y', 'r wrist_X','r wrist_Y','r elbow_X','r elbow_Y', 'r shoulder_X','r shoulder_Y','l shoulder_X','l shoulder_Y','l elbow_X','l elbow_Y', 'l wrist_X','l wrist_Y','Scale','Activity','Category']
print(data_arr)

['NAME', 'r ankle_X', 'r ankle_Y', 'r knee_X', 'r knee_Y', 'r hip_X', 'r hip_Y', 'l hip_X', 'l hip_Y', 'l knee_X', 'l knee_Y', 'l ankle_X', 'l ankle_Y', 'pelvis_X', 'pelvis_Y', 'thorax_X', 'thorax_Y', 'upper neck_X', 'upper neck_Y', 'head top_X', 'head top_Y', 'r wrist_X', 'r wrist_Y', 'r elbow_X', 'r elbow_Y', 'r shoulder_X', 'r shoulder_Y', 'l shoulder_X', 'l shoulder_Y', 'l elbow_X', 'l elbow_Y', 'l wrist_X', 'l wrist_Y', 'Scale', 'Activity', 'Category']

In [46]:
data = pd.DataFrame(columns=data_arr)
data

Empty DataFrame
Columns: [NAME, r ankle_X, r ankle_Y, r knee_X, r knee_Y, r hip_X, r hip_Y, l hip_X, l hip_Y, l knee_X, l knee_Y, l ankle_X, l ankle_Y, pelvis_X, pelvis_Y, thorax_X, thorax_Y, upper neck_X, upper neck_Y, head top_X, head top_Y, r wrist_X, r wrist_Y, r elbow_X, r elbow_Y, r shoulder_X, r shoulder_Y, l shoulder_X, l shoulder_Y, l elbow_X, l elbow_Y, l wrist_X, l wrist_Y, Scale, Activity, Category]
Index: []

[0 rows x 36 columns]

## **Este paso ya está hecho. Convierte el .mat en un Dataframe para luego pasarlo a .csv dos celdas más abajo**

In [47]:

for ix in range(0,annolist.shape[1]):
    if img_tra[0,ix] == 0:
        continue
#     print(ix)
    temp_arr = []
    obj_list = annolist[0,ix]
#     print(obj_list._fieldnames)
    obj_act = act[ix,0]
    
    rect =obj_list.__dict__['annorect']
    img_d = obj_list.__dict__['image']
    if rect.shape[0] ==0:
        continue
        
    obj_rect = rect[0,0]
    obj_img = img_d[0,0]
    
    
    if 'annopoints' not in obj_rect._fieldnames:
        continue
    
    name_d = obj_img.__dict__['name']
    name = name_d[0]
    temp_arr.append(name)
    annopoints = obj_rect.__dict__['annopoints']
    if annopoints.shape[0]==0:
        continue
    obj_points = annopoints[0,0]
    points = obj_points.__dict__['point']
#     if points.shape[1]!=16:
#         continue
#     print(points.shape)
    cnt = 0
    px = 0
    
    for n in range(0,32):
        temp_arr.append(-1)
    
    
    for px in range(0,points.shape[1]):
#         print(points.shape)
#         print('hello')
        po = points[0,px]
        po_id = po.__dict__['id']
        
        po_x = po.__dict__['x']
        po_y = po.__dict__['y']
        ind = 2*po_id[0][0]+1
#         print(ind)
        temp_arr[ind] = po_x[0][0]
        temp_arr[ind+1] = po_y[0][0]
       
        
        
    scale = obj_rect.__dict__['scale']
    temp_arr.append(scale[0][0])
    
    activity = act[ix,0]
    
    a_n = activity.act_name
    c_n = activity.cat_name
    
    if a_n.shape[0]==0:
        temp_arr.append(a_n)
    else:
        temp_arr.append(activity.act_name[0])
    if c_n.shape[0]==0:
        temp_arr.append(c_n)
    else:
        temp_arr.append(activity.cat_name[0])
    
    temp_data_f = pd.DataFrame([temp_arr],columns=data_arr)
    
    data = pd.concat([data,temp_data_f]) 
    
    if ix%100==0:
        print(ix)

100
300
500
600
700
800
1100
1200
1300
1400
1500
1600
1800
1900
2000
2100
2400
2500
2600
2700
2800
2900
3100
3200
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4700
4800
4900
5100
5500
5600
5700
6000
6100
6200
6600
6700
6800
6900
7100
7200
7300
7400
7600
7700
7900
8100
8300
8500
8600
8800
9000
9400
9500
9800
10000
10100
10200
10300
10400
10500
10600
10700
10800
11000
11100
11200
11300
11400
11500
11600
11800
12000
12100
12300
12400
12600
12700
12800
12900
13000
13200
13300
13400
13500
13700
13800
13900
14000
14400
14500
14600
14800
14900
15000
15100
15400
15700
15800
15900
16000
16200
16400
16500
16600
16700
16900
17100
17200
17400
17500
17700
17900
18000
18100
18200
18400
18500
18600
19200
19300
19400
19500
19600
19800
20100
20400
20800
21000
21100
21200
21300
21400
21500
21600
21700
21900
22000
22100
22200
22400
22500
22700
22800
22900
23000
23100
23300
23500
23600
23700
23800
23900
24000
24100
24300
24400
24500
24700
24800
24900

''

In [48]:
data.head()

,NAME,r ankle_X,r ankle_Y,r knee_X,r knee_Y,r hip_X,r hip_Y,l hip_X,l hip_Y,l knee_X,...,r shoulder_Y,l shoulder_X,l shoulder_Y,l elbow_X,l elbow_Y,l wrist_X,l wrist_Y,Scale,Activity,Category
0,015601864.jpg,620,394,616,269,573,185,647,188,661,...,167,692,185,693,240,688,313,3.021046,curling,sports
0,015599452.jpg,-1,-1,-1,-1,806,543,720,593,-1,...,281,719,299,711,516,545,466,5.641276,curling,sports
0,005808361.jpg,804,711,816,510,908,438,1040,454,906,...,253,1067,253,1167,353,1142,478,4.718488,curling,sports
0,086617615.jpg,301,461,305,375,201,340,294,342,335,...,261,314,264,327,320,362,346,2.681349,curling,sports
0,060111501.jpg,980,322,896,318,865,248,943,226,948,...,147,923,123,995,163,961,223,3.806403,curling,sports

In [49]:
data.to_csv('mpii_dataset.csv', index=False)

In [11]:
#data_clean = data[['NAME','Activity', 'Category']]

#data_clean.head()

In [12]:
#data_clean.to_csv('mpii_dataset_clean.csv', index=False)

## FIN de la conversión a .csv
##  

## Preparando el dataset final

In [3]:
data_clean = pd.read_csv('mpii_dataset_clean.csv')

data_clean[9:60]

,NAME,Activity,Category
9,018340451.jpg,"sitting, talking in person, on the phone, comp...",miscellaneous
10,030424224.jpg,"sitting, talking in person, on the phone, comp...",miscellaneous
11,052475643.jpg,"sitting, talking in person, on the phone, comp...",miscellaneous
12,043194502.jpg,"sitting, talking in person, on the phone, comp...",miscellaneous
13,029122914.jpg,"truck driving, loading and unloading truck, ty...",occupation
14,061185289.jpg,"truck driving, loading and unloading truck, ty...",occupation
15,013949386.jpg,"truck driving, loading and unloading truck, ty...",occupation
16,029214465.jpg,"truck driving, loading and unloading truck, ty...",occupation
17,036636184.jpg,"truck driving, loading and unloading truck, ty...",occupation
18,045606998.jpg,"truck driving, loading and unloading truck, ty...",occupation
19,051423444.jpg,"truck driving, loading and unloading truck, ty...",occupation
20,059241457.jpg,"truck driving, loading and unloading truck, ty...",occupation
21,004645041.jpg,"truck driving, loading and unloading truck, ty...",occupation
22,060754485.jpg,"truck driving, loading and unloading truck, ty...",occupation
23,017052412.jpg,"truck driving, loading and unloading truck, ty...",occupation
24,006505159.jpg,"truck driving, loading and unloading truck, ty...",occupation
25,094888554.jpg,"truck driving, loading and unloading truck, ty...",occupation
26,096563203.jpg,"truck driving, loading and unloading truck, ty...",occupation
27,080839735.jpg,"truck driving, loading and unloading truck, ty...",occupation
28,030461377.jpg,"truck driving, loading and unloading truck, ty...",occupation
29,009767211.jpg,"truck driving, loading and unloading truck, ty...",occupation
30,068423303.jpg,"truck driving, loading and unloading truck, ty...",occupation
31,044015249.jpg,"truck driving, loading and unloading truck, ty...",occupation
32,012203823.jpg,"truck driving, loading and unloading truck, ty...",occupation
33,049517691.jpg,"truck driving, loading and unloading truck, ty...",occupation
34,003438852.jpg,"swimming, synchronized",water activities
35,031171108.jpg,sitting quietly,inactivity quiet/light
36,052006802.jpg,"swimming, synchronized",water activities
37,054671028.jpg,"swimming, synchronized",water activities
38,018485446.jpg,scrubbing floors,home activities
39,096958463.jpg,"mopping, standing, light effort",home activities
40,077513282.jpg,"mopping, standing, light effort",home activities
41,093949894.jpg,"mopping, standing, light effort",home activities
42,089482735.jpg,"mopping, standing, light effort",home activities
43,059789998.jpg,"mopping, standing, light effort",home activities
44,092187424.jpg,"mopping, standing, light effort",home activities
45,008849250.jpg,"chambermaid, hotel housekeeper, making bed, cl...",occupation
46,019598286.jpg,"cleaning, general",home activities
47,004522729.jpg,"chambermaid, hotel housekeeper, making bed, cl...",occupation
48,082873751.jpg,"implied walkingstanding - picking up yard, lig...",lawn and garden
49,035675333.jpg,"implied walkingstanding - picking up yard, lig...",lawn and garden
50,028093451.jpg,"implied walkingstanding - picking up yard, lig...",lawn and garden
51,098688694.jpg,"implied walkingstanding - picking up yard, lig...",lawn and garden
52,077224477.jpg,"implied walkingstanding - picking up yard, lig...",lawn and garden
53,019871568.jpg,"implied walkingstanding - picking up yard, lig...",lawn and garden
54,000552212.jpg,"implied walkingstanding - picking up yard, lig...",lawn and garden
55,035846573.jpg,"sitting, talking in person, on the phone, comp...",miscellaneous
56,011586906.jpg,"sitting, talking in person, on the phone, comp...",miscellaneous
57,086310343.jpg,"gardening, general, moderate effort",lawn and garden
58,062329813.jpg,"implied walkingstanding - picking up yard, lig...",lawn and garden
59,006355835.jpg,"standing, talking in person",miscellaneous

In [55]:
data_clean.replace({'Activity':'[]'}, 'unknown', inplace=True)
data_clean.replace({'Category':'[]'}, 'unknown', inplace=True)

In [8]:
data_clean.to_csv('mpii_dataset_clean.csv')
data_clean.groupby('Category').nunique()

                        NAME  Activity
Category
bicycling                516         5
conditioning exercise   1682        21
dancing                  697         9
fishing and hunting      705        15
home activities         1377        31
home repair             1065        27
inactivity quiet/light   185         4
lawn and garden         1092        30
miscellaneous            741        18
music playing            534        18
occupation              2329        58
religious activities     120         5
running                  291         7
self care                 89         4
sports                  3450        71
transportation            87         7
unknown                   41         1
volunteer activities      46         3
walking                  577        17
water activities        1008        30
winter activities        740        16

### Este es el .csv con los 'unknown' sustituidos por las actividades que se ven en la imagen

In [6]:
datacleanv2 = pd.read_csv('mpii_dataset_clean_v2.csv')
datacleanv2[9:60]

,NAME,Activity,Category
9,"018340451.jpg,""sitting, talking in person, on ...",NaN,NaN
10,"030424224.jpg,""sitting, talking in person, on ...",NaN,NaN
11,"052475643.jpg,""sitting, talking in person, on ...",NaN,NaN
12,"043194502.jpg,""sitting, talking in person, on ...",NaN,NaN
13,"029122914.jpg,""truck driving, loading and unlo...",NaN,NaN
14,"061185289.jpg,""truck driving, loading and unlo...",NaN,NaN
15,"013949386.jpg,""truck driving, loading and unlo...",NaN,NaN
16,"029214465.jpg,""truck driving, loading and unlo...",NaN,NaN
17,"036636184.jpg,""truck driving, loading and unlo...",NaN,NaN
18,"045606998.jpg,""truck driving, loading and unlo...",NaN,NaN
19,"051423444.jpg,""truck driving, loading and unlo...",NaN,NaN
20,"059241457.jpg,""truck driving, loading and unlo...",NaN,NaN
21,"004645041.jpg,""truck driving, loading and unlo...",NaN,NaN
22,"060754485.jpg,""truck driving, loading and unlo...",NaN,NaN
23,"017052412.jpg,""truck driving, loading and unlo...",NaN,NaN
24,"006505159.jpg,""truck driving, loading and unlo...",NaN,NaN
25,"094888554.jpg,""truck driving, loading and unlo...",NaN,NaN
26,"096563203.jpg,""truck driving, loading and unlo...",NaN,NaN
27,"080839735.jpg,""truck driving, loading and unlo...",NaN,NaN
28,"030461377.jpg,""truck driving, loading and unlo...",NaN,NaN
29,"009767211.jpg,""truck driving, loading and unlo...",NaN,NaN
30,"068423303.jpg,""truck driving, loading and unlo...",NaN,NaN
31,"044015249.jpg,""truck driving, loading and unlo...",NaN,NaN
32,"012203823.jpg,""truck driving, loading and unlo...",NaN,NaN
33,"049517691.jpg,""truck driving, loading and unlo...",NaN,NaN
34,"003438852.jpg,""swimming, synchronized"",water a...",NaN,NaN
35,031171108.jpg,sitting quietly,inactivity quiet/light
36,"052006802.jpg,""swimming, synchronized"",water a...",NaN,NaN
37,"054671028.jpg,""swimming, synchronized"",water a...",NaN,NaN
38,018485446.jpg,scrubbing floors,home activities
39,"096958463.jpg,""mopping, standing, light effort...",NaN,NaN
40,"077513282.jpg,""mopping, standing, light effort...",NaN,NaN
41,"093949894.jpg,""mopping, standing, light effort...",NaN,NaN
42,"089482735.jpg,""mopping, standing, light effort...",NaN,NaN
43,"059789998.jpg,""mopping, standing, light effort...",NaN,NaN
44,"092187424.jpg,""mopping, standing, light effort...",NaN,NaN
45,"008849250.jpg,""chambermaid, hotel housekeeper,...",NaN,NaN
46,"019598286.jpg,""cleaning, general"",home activities",NaN,NaN
47,"004522729.jpg,""chambermaid, hotel housekeeper,...",NaN,NaN
48,"082873751.jpg,""implied walkingstanding - picki...",NaN,NaN
49,"035675333.jpg,""implied walkingstanding - picki...",NaN,NaN
50,"028093451.jpg,""implied walkingstanding - picki...",NaN,NaN
51,"098688694.jpg,""implied walkingstanding - picki...",NaN,NaN
52,"077224477.jpg,""implied walkingstanding - picki...",NaN,NaN
53,"019871568.jpg,""implied walkingstanding - picki...",NaN,NaN
54,"000552212.jpg,""implied walkingstanding - picki...",NaN,NaN
55,"035846573.jpg,""sitting, talking in person, on ...",NaN,NaN
56,"011586906.jpg,""sitting, talking in person, on ...",NaN,NaN
57,"086310343.jpg,""gardening, general, moderate ef...",NaN,NaN
58,"062329813.jpg,""implied walkingstanding - picki...",NaN,NaN
59,"006355835.jpg,""standing, talking in person"",mi...",NaN,NaN

## Pruebas de visualización del archivo .mat
**Para comprobar que son las Actividades/Categorías '[]' (ahora sustituidas por 'unknown')**

In [2]:
from pymatreader import read_mat

In [ ]:
archivo = read_mat('mpii_human_pose_v1_u12_1.mat')

In [34]:
archivo['RELEASE']['act']['act_name'][3888:3990]

['moving furniture, household items, carrying boxes',
 'moving furniture, household items, carrying boxes',
 'moving furniture, household items, carrying boxes',
 'moving furniture, household items, carrying boxes',
 'moving furniture, household items, carrying boxes',
 'moving furniture, household items, carrying boxes',
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 'jogging',
 'jogging',
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 'jogging',
 'jogging',
 'jogging',
 'jogging',
 array([], dtype=float64),
 'running',
 'running',
 'running',
 'running',
 'running',
 'running',
 'running',
 'jogging',
 'jogging',
 'jogging',
 'rollerblading',
 'rollerblading',
 'rollerblading',
 'rollerblading',
 'rollerblading',
 'rollerblading',
 'rollerblading',
 array([], dtype=float64),
 array([], dtype=float64),
 'rollerblading',
 'rollerblading',
 'rollerblading',
 'rollerblading',
 'rollerblading',
 'rollerblading',
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 'rollerblading',
 'rollerblading',
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 'rollerblading',
 'rollerblading',
 'rollerblading',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 array([], dtype=float64),
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 'tennis, hitting balls, non-game play, moderate effort',
 array([], dtype=float64),
 array([], dtype=float64)]